/* Space out content a bit */

body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */

.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

/* Custom page footer */

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

/* Customize container */

@media (min-width: 67em) {
    .container {
        max-width: 65rem;
    }
}

.container-narrow>hr {
    margin: 2rem 0;
}

/* Main marketing message and sign up button */

.jumbotron {
    background:#fff;
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

/* Supporting marketing content */

.marketing {
    margin: 3rem 0;
}

.marketing p+h4 {
    margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.form-control-invalid {
    border-color: #dc3545;
}

.invalid-feedback {
    display: block;
    margin-top: .25rem;
    font-size: .875rem;
    color: #dc3545;
}

.table td.text {
    max-width: 177px;
}

.table td.text span:not(.flag-icon) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
    margin-bottom: -8px;
}

.signal-bars {
    display: inline-block;
}

.signal-bars .bar {
    width: 10%;
    margin-left: 1%;
    min-height: 20%;
    display: inline-block;
}

.signal-bars .bar.first-bar {
    height: 20%;
}

.signal-bars .bar.second-bar {
    height: 40%;
}

.signal-bars .bar.third-bar {
    height: 60%;
}

.signal-bars .bar.fourth-bar {
    height: 80%;
}

.signal-bars .bar.fifth-bar {
    height: 99%;
}

.good .bar {
    background-color: #16a085;
    border: thin solid #12816b;
}

.bad .bar {
    background-color: #e74c3c;
    border: thin solid #a82315;
}

.ok .bar {
    background-color: #f1c40f;
    border: thin solid #d0a90c;
}

.four-bars .bar.fifth-bar,
.three-bars .bar.fifth-bar,
.three-bars .bar.fourth-bar,
.one-bar .bar:not(.first-bar),
.two-bars .bar:not(.first-bar):not(.second-bar) {
    background-color: #fafafa;
    border: thin solid #f3f3f3;
}

.sizing-box {
    height: 40px;
    width: 85px
}
